.master img{
    height: 98vh;
}

@media (max-width: 768px) {
    #gallery {
        width: 85%; /* Full width on small screens */
    }
  }
  
  @media (min-width: 769px) {
    #gallery {
      width: 96%; /* Slightly less than full width on larger screens */
    }
  }
  